<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Token Renewal</title>
</head>
<body>

    <h1>Token Renewal</h1>

    <div id="result"></div>

    <form id="renewForm" action="https://token.localhost/token" method="post">
        <label for="userID">User ID:</label>
        <input type="text" id="userID" name="userID" value="1198c581-186f-4f16-ac76-84cafb09a0ed">

        <button type="button" onclick="renewToken()">Renew Token</button>
    </form>

    <script>
        function renewToken() {
            var form = document.getElementById('renewForm');
            form.submit();
        }
    </script>

</body>
</html>
